<!DOCTYPE html>
<html>
<head>
    <title>World Countries</title>
</head>
<body>
    <h1>Countries from the World Database</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Continent</th>
            <th>Population</th>
        </tr>

        {% for country in countries %}
        <tr>
            <td>{{ country.Code }}</td>
            <td>{{ country.Name }}</td>
            <td>{{ country.Continent }}</td>
            <td>{{ country.Population }}</td>
            <td>
                <form action="/add-favorite" method="POST">
                    <input type="hidden" name="code" value="{{ country.Code }}">
                    <input type="hidden" name="name" value="{{ country.Name }}">
                    <input type="hidden" name="continent" value="{{ country.Continent }}">
                    <button type="submit" class="btn btn-success btn-sm">Add Favorite</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>