<!DOCTYPE html>
<html>
<head>
    <title>World Countries</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Countries from the World Database</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Continent</th>
            <th>Population</th>
            <th>Language</th>
            <th>Action</th>
        </tr>

        {% for country in countries %}
        <tr>
            <td>{{ country[0] }}</td>
            <td>{{ country[1] }}</td>
            <td>{{ country[2] }}</td>
            <td>{{ country[3] }}</td>
            <td>{{ country[4] }}</td>
            <td>
                <form action="/add-favorite" method="POST">
                    <input type="hidden" name="code" value="{{ country[0] }}">
                    <input type="hidden" name="name" value="{{ country[1] }}">
                    <input type="hidden" name="continent" value="{{ country[2] }}">
                    <button type="submit" class="btn btn-success btn-sm">Add Favorite</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>